[submodule "SignalList"]
	path = source/SignalList
	url = https://github.com/rom1504/SignalList.git
[submodule "GeneralQmlItems"]
	path = source/GeneralQmlItems
	url = https://github.com/rom1504/GeneralQmlItems.git
[submodule "source/TvSeriesOrganizerApp/TvSeriesOrganizerPluginInterface"]
	path = source/TvSeriesOrganizerApp/TvSeriesOrganizerPluginInterface
	url = https://github.com/rom1504/TvSeriesOrganizerPluginInterface.git
