[submodule "SignalList"]
	path = SignalList
	url = https://github.com/rom1504/SignalList.git
[submodule "GeneralQmlItems"]
	path = GeneralQmlItems
	url = https://github.com/rom1504/GeneralQmlItems.git
[submodule "TvSeriesOrganizerApp/TvSeriesOrganizerPluginInterface"]
	path = TvSeriesOrganizerApp/TvSeriesOrganizerPluginInterface
	url = https://github.com/rom1504/TvSeriesOrganizerPluginInterface.git
